.searchContainer,
.personList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 2rem;
}
.searchContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.searchIcon {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-55%);
}
.searchText {
  width: 100%;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 6px;
  box-shadow: var(--shadow);
  border: var(--border);
}
.searchText:focus {
  color: white;
  background-color: #464646;
}
.searchContainer:focus {
  color: white;
  background-color: #464646;
}
.success {
  color: green;
}
.error {
  color: orangered;
}
@media screen and (min-width: 768px) {
  .searchContainer {
    width: 55%;
  }
}
@media screen and (min-width: 992px) {
  .searchContainer {
    width: 50%;
  }
}
