.personList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
}
.success {
  color: green;
}
.error {
  color: orangered;
}
.searchList {
  width: 80%;
  padding: 0.5rem;
  border: var(--border);
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.searchList:focus {
  color: white;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .searchList {
    width: 55%;
  }
}
@media screen and (min-width: 992px) {
  .searchList {
    width: 50%;
  }
}
