.button {
  font-size: 2rem;
  border-radius: 50%;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 100;
  transition: box-shadow 0.3s;
}

.button:hover {
  box-shadow: 0 0 3px grey;
}
.show {
  display: block;
}
