.person-card {
  border: 0.1rem solid rgb(209, 208, 208);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin: 2rem;
  padding: 1.5rem;
  text-align: left;
  width: 25rem;
  background: var(--body-color);
  transition: transform 0.3s;
  text-transform: capitalize;
  position: relative;
}
.person:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.name {
  font-weight: bold;
}
.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.review {
  position: absolute;
  right: -2rem;
  bottom: -1rem;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background: greenyellow;
  z-index: 2rem;
}
