.person-card {
  border: 0.1rem solid rgb(209, 208, 208);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin: 2rem;
  padding: 1.5rem;
  text-align: left;
  width: 25rem;
  background: var(--body-color);
  transition: transform 0.3s;
  text-transform: capitalize;
  position: relative;
}
.email {
  text-transform: none;
}
.person:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.person-card p span {
  text-align: right;
}
.personCard-footer {
  border-top: 1px solid grey;
  text-align: right;
  padding-top: 0.5rem;
  margin-top: 1rem;
}
.personCard-footer button {
  color: black;
  background: none;
  border: none;
  font-size: inherit;
  transition: transform 0.3s;
}
.personCard-footer button:hover {
  color: green;
  transform: scale(1.1);
}
.row,
.person-card p {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
}

.editInfo input,
.editInfo textarea {
  font-size: 1rem;
  padding: 0.3rem;
  border: 1px solid grey;
  border-radius: 0.2rem;
}
.editInfo textarea {
  height: 5rem;
}
.name {
  font-weight: bold;
  font-size: 1.5rem;
}
.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.message {
  color: green;
}
.personCard-footer .disabled {
  color: grey;
}
.personCard-footer .disabled:hover {
  color: grey;
}
.schedule {
  position: absolute;
  right: -1.5rem;
  top: -1rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  z-index: 2rem;
}
.recognition {
  background: greenyellow;
}
.probation {
  background: #fdc150;
}
