.addForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addForm div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
}

.addForm label {
  width: 30%;
}

.addForm input {
  width: 70%;
  border: var(--border);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.addForm input:focus {
  outline: 1px solid green;
}

@media screen and (min-width: 768px) {
  .addForm div {
    width: 80%;
  }
}
