@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.06rem;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(1, 0, 0, 0.87);
  background-color: #fcf9f9;

  /* ______________variables____________ */
  --header-height: 4rem;
  /* color */
  --title-color: black;
  --text-color: black;
  --text-white: white;
  --body-color: white;
  --hover-color: #0c960c;
  --background: #beff93;

  --border: 1px solid grey;
  --radius: 0.5rem;
  --shadow: 0 0.1rem 0.2rem rgb(192, 190, 190);
}

body {
  margin: 0 auto;
  text-align: center;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
input,
button {
  font-size: inherit;
  font-family: inherit;
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  background-color: #099b09;
  margin: 1rem;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #9aff64;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
