@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*_________css variables_________*/
:root {
  --header-height: 4rem;
  --line-height: 2;
  /* color */
  --title-color: black;
  --text-color: black;
  --text-white: white;
  --body-background: white;
  --hover-color: #0c960c;
  --header-background: #beff93;
  --scroll-background: white;

  /* font */
  --body-font: "Poppins", sans-serif;
  --second-font: "Cherry Bomb One", system-ui, sans-serif;
  --logo-size: 1.75rem;
  --title-size: 1.2rem;
  --normal-font-size: 1rem;

  /* larger font size for big screen */
  --logo-size-large: 2rem;
  --title-size-large: 1.5rem;
  --normal-font-size-large: 1.2rem;

  /* font weight */
  --font-medium: 500;

  /* z index */
  --z: 100;

  /* gap */
  --gap: 1.5rem;

  /* border and shadow */
  --border: 1px solid grey;
  --border-radius: 0.5rem;
  --shadow: 0 0.1rem 0.2rem #a5a5a5;
  --scroll-shadow: 0 0 0.2rem #38770f;

  /* scale */
  --scale: scale(1.05);
}
/* 
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(1, 0, 0, 0.87);
  background-color: #fcf9f9; */

/* ______________variables____________
  --header-height: 4rem;
  /* color */

/* --background: #beff93; */

/*_________global reset and whole page_________*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-background);
  color: var(--text-color);
  padding-top: 5rem;
  transition: background-color 0.6s;
}

label,
textarea,
input,
button {
  font-size: inherit;
  font-family: inherit;
}

input,
textarea,
button,
a {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  line-height: 100%;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0.5rem;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
/* _________theme_________*/
/* dark theme */
.dark-theme {
  --title-color: white;
  --text-color: white;
  --body-background: black;
  --header-background: #2d2d2d;
  --scroll-background: #3e3e3e;
  --shadow: 0 0.2rem 0.5rem #494848;
  --scroll-shadow: 0 0 0.1rem #a29f9f;
}

/* ________ breakpoint ________*/
/* for phone */
@media screen and (min-width: 360px) {
  .person-card {
    width: 300px;
  }
}
/* for tablet */
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin-inline: auto;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --logo-size: var(--logo-size-large);
    --title-size: var(--title-size-large);
    --normal-font-size: var(--normal-font-size-large);
  }
}
/* body {
  margin: 0 auto;
  text-align: center;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}
*/
button {
  border-radius: var(--border-radius);
  color: var(--text-color);
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-weight: var(--font-medium);
  background-color: var(--hover-color);
  margin: 1rem;
  transition: color 0.4s transform 0.4s;
}
button:hover {
  box-shadow: var(--shadow);
  color: var(--hover-color);
  transform: var(--scale);
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
