.person-card {
  border: 0.1rem solid rgb(209, 208, 208);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin: 2rem;
  padding: 1rem;
  text-align: left;
  width: 25rem;
  background: var(--body-background);
  text-transform: capitalize;
  position: relative;
  transition: transform 0.3s;
}
.email {
  text-transform: none;
}
.person-card:hover {
  transform: var(--scale);
  cursor: pointer;
}

.span {
  text-align: right;
}
.personCard-footer {
  border-top: var(--border);
  text-align: right;
  padding-top: 0.5rem;
  margin-top: 1rem;
}

.button {
  background: none;
  border: none;
  color: var(--text-color);
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  margin: 1rem;
  transition: color 0.2s transform 0.8s;
}

.button:hover {
  color: var(--hover-color);
  transform: var(--scale);
}
.row,
.person-card :global(p) {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
}
.row {
  align-items: center;
}
.input,
.textArea {
  min-width: 12rem;
  padding: 0.3rem;
  border: 1px solid grey;
  border-radius: 0.2rem;
}
.textarea {
  height: 6rem;
}
.name {
  font-weight: bold;
  font-size: 1.5rem;
}
.personList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.success {
  color: green;
}
.error {
  color: orange;
}
.personCard-footer:hover {
  color: green;
}
.disabled {
  color: grey;
  pointer-events: none; /* disables interaction */
}

.schedule {
  position: absolute;
  color: black;
  right: -1.5rem;
  top: -2rem;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}
.recognition {
  background: greenyellow;
}
.probation {
  background: #fdc150;
}
