.section {
  margin-block: 2rem;
}
.sectionTitle {
  font-size: var(--sub-title);
  margin-bottom: 0.5rem;
}

.pageLink {
  color: #2b63fd;
  /* color: var(--hover-color); */
  font-weight: bold;
}
.pageLink:hover {
  color: black;
}
.pageLink:visited {
  color: orange;
}

.sectionList {
  list-style: square;
  padding-left: 2rem;
  line-height: 1.8;
}
